@tailwind base;
@tailwind components;
@tailwind utilities;
.app-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.06) transparent;
}

.app-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.app-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.app-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 999px;
}

.app-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.14);
}
